* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-base-bg: rgb(207, 207, 207);
    --color-base-text: rgb(49, 49, 49);
    --color-accent-bg: rgb(238, 238, 238);
    --color-sidebar: rgb(52, 54, 73);
    --color-text-sidebar: rgb(255,255,255);
    --box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.083);
    --hover-accent: rgb(91, 109, 159);
  }
  

  body {
    margin: 0;
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
  }

  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: minmax(150px, 1fr) 5fr;
  }

  .header{
    display: grid;
    background-color: var(--color-accent-bg);
    grid-area: 1 / 2 / 2 / 4;
    grid-template-columns: minmax(170px, 2fr) minmax(500px, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 0 40px;
    box-shadow: var(--box-shadow);
  }

  .search input {
    all: unset;
    font: 16px;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    border-radius: 10px;
    margin-right: 50px;
    background-color: white;
  }

  .current-acc {
    justify-self: end;
  }

  .title {
    font-size: 20px;
  }
  
  .header nav {
    justify-self: end;
  }

  nav button {
    padding: 10px 20px;
    background-color: var(--color-sidebar);
    color: var(--color-text-sidebar);
    border: none;
    border-radius: 10px;
    font-size: 14px;
    transition: ease-in-out 0.3s;
  }

  nav button:hover{
    background-color: var(--hover-accent);
  }

  .sidebar {
    background-color: var(--color-sidebar);
    box-shadow: var(--box-shadow);
    color: var(--color-text-sidebar);
    grid-area: 1 / 1 / 4 / 1;
  }

  .sidebar h1 {
    padding: 20px 0 0 50px;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar li{
    padding: 15px 50px;
    box-shadow: inset 0 0 0 0 var(--hover-accent);
    transition: ease-in-out 0.3s;
  }

  .sidebar a{
    color: var(--color-text-sidebar);
    text-decoration: none;
  }

  .sidebar li:hover{
    background-color: var(--hover-accent);
  }

  .main { 
    grid-area: 2 / 2 / 5 / 5 ;
    display: grid;
    grid-gap: 20px;
    margin: 20px 20px;
    grid-template-columns: repeat(4, minmax(170px, 1fr));
  }

  .projects {
    display: grid;
    grid-gap: 20px;
    grid-area: 1 / 1 / 3 / 4;
    grid-template-columns: 1fr 1fr;
  }

  .project {
    min-height: 200px;
  }

  .project, .announcements, .trending{
    background-color: var(--color-accent-bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }